.menu-container {
  padding-top: 0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


@media (min-width: 768px) {
.row {
	padding-top: 1em;
  }
}

@media (max-width: 768px) {
	.col-md-4 {
		padding-top: 2px;
	}
}

.container-full {
	padding: 0 !important;
  margin: 0 auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#fullimg{
	width:100%;
}
