.menu-container {
  padding-top: 0px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}


@media (min-width: 768px) {
	.img-responsive{
	padding-top: 1em;	
	}
	
	.col-md-4 {
		padding-top: 1em;
		max-height: 20em;
		overflow: hidden;
	}
	.row {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}
}

@media (max-width: 768px) {
	.img.responsive{
	padding-top: 2px;	
	}
	.col-md-4 {
		padding-top: 2px;
	}
	.row {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}
}


.container-full {
	padding: 0 !important;
	margin: 0 auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.row {

}

#fullimg{
	width:100%;
}

.shadow {
	box-shadow: 9px 9px 9px 16px black;
}

.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}

.yellow {
	color: yellow;
}

.red {
	color: red;
}

.lightgreen {
	color: lightgreen;
}
